<div class="row">
<div class"well col-md-12">
  <h1>Contact</h1>
  <h3>Norman Duchene</h3>
  <p>17A Sunnyside Lane</p>
  <p>Derry NH, 03038</p>
  
  <%= image_tag("1200-custom.jpg", class: "center-block img-responsive") %>
  <%= link_to '5.1 link_to  Edit',     edit_product_path(6) %>
</div>
</div>