<h1>Contact</h1>

<h3>Norman Duchene</h3>
<p>17A Sunnyside Lane</p>
<p>Derry NH, 03038</p>

<%= image_tag("bike4.jpg", class: "img-responsive my-image") %>
<%= link_to '5.1 link_to  Edit',     edit_product_path(6) %>